@page
@model Buma.UI.Pages.CartModel
@{
}

<div class="container">
    <div class="columns">
        <div class="cloumn is-8 is-offset-2">
            @foreach (var product in Model.Cart)
            {
                <div class="level">
                    <div class="level-item">
                        <figure class="image">
                            <img src="~/images/m1-black-new.jpg" />
                        </figure>
                    </div>
                    <div class="level-item">
                        <div class="columns is-mobile">
                            <div class="column">
                                <button class="button" type="button">
                                    -
                                </button>
                            </div>
                            <div class="column align-self-center">
                                @product.Name
                            </div>
                            <div class="column">
                                <button class="button" type="button">
                                    +
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="level-item is-hidden-mobile">
                        <p>@product.Qty</p>
                    </div>
                    <div class="level-item">
                        <p>@product.Value</p>
                    </div>
                </div>

                <div class="has-text-right">
                    <a asp-page="/Index" class="button is-text">Buy some more</a>
                    <a asp-page="/Checkout/CustomerInfo" class="button is-success">Checkout</a>
                </div>
            }
        </div>
    </div>
</div>

@section scripts {
    <script></script>
}