@page "{name}"
@model Buma.UI.Pages.ProductModel
@{
}

    <div>
        <p>@Model.Product.Name</p>
        <p>@Model.Product.Description</p>
        <p>@Model.Product.Value</p>
        <div>
            <form method="post">
                <label>Stock</label>
                <select asp-for="ProductTest.Id">
                    @foreach (var s in Model.Product.Stock)
                    {
                        <option value="@s.Id"></option>
                    }
                </select>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>