@page
@model Buma.UI.Pages.Account.LoginModel
@{
}


<form method="post">
    <input asp-for="Input.UserName" />
    <input asp-for="Input.Password" />
    <input type="submit" name="name" value="Sign in" />
</form>